/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Manrope', sans-serif;
  overflow-x: hidden;
  font-size: 15px;
}
.sec-padding{
	padding: 70px 0;
}
.text-right {
  text-align: right;
}
a {
  text-decoration: none;
  text-decoration-line: none;
}
a:hover {
  color: #ec2727;
  text-decoration: none;
}
.container {
  position:relative;
}
/*Fonts*/
h1,h2,h3,h4{
  font-family: 'Montserrat' !important;
}
p,h5,h6{
  font-family: "Manrope" !important;
}
p{
	font-size:15px;
}
.banner-title{
	font-size: 54px;
    font-weight: 900;
}
.secondary-title{
  font-size: 40px;
}
.ux-sp {
  font-size: 36px;
  font-weight: 500;
}
.section-title{
	font-size:29px;
	font-weight:500;
}
.stitle{
	font-size: 24px;
    font-weight: 500;
}
.title-tag{
	font-size:18px;
	font-weight:500;
}
.tag-line{
  font-size: 14px;
  font-weight: 800;
}
.w600{
	font-weight:600;
}
.w700{
	font-weight:700;
}
.w800{
	font-weight:800;
}
.w900{
	font-weight:900;
}
.animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}
ul li{
  margin-bottom: 10px;
}
.cs-banner-list li {
  margin-bottom: 3px;
}
/*--------------------------------------------------------------
# BUTTONS 
--------------------------------------------------------------*/
.btn1 {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 1px solid #4719B2;
  border-radius: 2px;
  color: #392469;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 30px;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  font-weight: 800;
  display: block;
  width: -moz-max-content;
  width: max-content;
}
.btn1:hover, .btn1:focus {
  color: #4719B2;
  outline: 0;
}
.fifth {
  border-color: #4719B2;
  border-radius: 0;
  color: #4719B2;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 300ms ease-in-out;
  font-weight: 800;
}
.fifth:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #4719B2;
  z-index: -1;
  transition: width 200ms ease-in-out;
}
.fifth:hover {
  color: #fff;
}
.fifth:hover:after {
  width: 101%;
}
.read-more {
  width: -moz-fit-content;
  width: fit-content;
}
.read-more a {
  color: #4719B2;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
}
.read-more a:hover::after {
  border-bottom: 2px solid #4719B2;
  width: 100%;
}
.read-more a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 20%;
  height: 2px;
  background: #4719B2;
  transition: width 0.3s;
}
/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 26px;
  bottom: 15px;
  z-index: 99999;
  background: #fff;
  width: 34px;
  height: 34px;
  border-radius: 50px;
  transition: all 0.4s;
  border: 1px solid #392469;
}
.scroll-top i {
  font-size: 19px;
  color: #392469;
}
.scroll-top:hover {
  background: linear-gradient(to right, #392469,#b63362) ;
  color: #fff;
}
.scroll-top:hover i {
  color: #fff;
}
.scroll-top.active {
  visibility: visible;
  opacity: 1;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.fixedheader{
  transition: all 0.5s;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; 
  box-shadow: 0px 0px 8px 2px #827d8d26;
  height: 60px !important;
}
.header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  height: 90px;
}
.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}
section {
  scroll-margin-top: 90px;
}
@media (max-width: 575px) {
  .header {
    height: 70px;
  }
}
/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
@media (min-width: 1120px) {
  .navbar {
    padding: 0;
  }
  #navbar ul li:last-child {
    padding-right: 0;
  }
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  .navbar li {
    position: relative;
    z-index: 99;
  }
  .navbar>ul>li {
    white-space: nowrap;
    padding: 15px 25px 15px 25px;
  }
  .navbar a,.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  } 
  .navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #b63362;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }
  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    width: 100%;
  }
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #b63362;
  }
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    font-weight: 500;
  }
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: #b63362;
    background: #FAF7FE;
    border-radius: 4px 4px 0px 0px;
    color: #b63362;
  }
  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  .mobile-nav-show,
  .mobile-nav-hide {
    display: none;
  }
}
.navbar a i,
  .navbar a:focus i {
    font-size: 10px;
    margin-left: 8px;
    padding-top: 4px;
  }
@media (min-width: 1120px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}
/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 1120px) {
  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 320px;
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
  }
  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 50px 0 10px 0;
    margin: 0;
    background: rgba(255, 255, 255, 1);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }
  .navbar ul li {
    padding: 13px 40px;
  }
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
    color: #000;
    white-space: nowrap;
    transition: 0.3s;
  }
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    margin-left: 5px;
  }
  .navbar a:hover,
  .navbar li:hover>a {
    color: #b63362;
  }
  .navbar .active,
  .navbar .active:focus {
    color: #b63362;
  }
  .navbar .dropdown ul,
  .navbar .dropdown .dropdown ul {
    position: static;
    display: none;
    padding: 10px 0;
    margin: 10px 20px;
    transition: all 0.5s ease-in-out;
  }
  .dropdown-active li a {
    padding: 10px 0px;
    font-size: 16px;
    font-weight: 500;
  }
  .dropdown-active li {
    padding: 0 !important;
  }
  .dropdown-active {
    margin: 0 !important;
  }
  .navbar .dropdown>.dropdown-active,
  .navbar .dropdown .dropdown>.dropdown-active {
    display: block;
  }
  .mobile-nav-show {    
    font-size: 28px;
    cursor: pointer;
    transition: 0.5s;
    z-index: 9999;
    margin: 0 0px 0 20px;
  }
  .mobile-nav-hide {
    font-size: 32px;
    cursor: pointer;
    transition: 0.5s;
    position: fixed;
    right: 30px;
    top: 20px;
    z-index: 9999;
  }
  .mobile-nav-active {
    overflow: hidden;
  }
  .mobile-nav-active .navbar {
    right: 0;
  }
  .mobile-nav-active .navbar:before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(000, 000, 000, 0.8);
    z-index: 9996;
  }
}
/*--------------------------------------------------------------
# MAIN BANNER SECTION
--------------------------------------------------------------*/
#header-banner .banner-bg {
  position:relative;
}
#header-banner .banner-bg h1, #case-studies-banner h1 {
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.04);
  background: linear-gradient(180deg, #B63362 50%, #673B92 100%);
  margin: 0 0 10px 0;
  text-transform: capitalize;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#header-banner .banner-bg h5 {
  color: #000;
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.04);
  margin: 0;
  text-transform: capitalize;
  width: 80%;
}
#header-banner .banner-bg p {
  color: #616161;
}
#header-banner .banner-bg img{
	position:absolute;
}
#header-banner .banner-bg .image-2 {
  left:0px;
  top: 5px;
}
#header-banner .banner-bg .image-3 {
	z-index: -1;
	top: -41px;
	left: 52%;
	transform: translateX(-52%);
}
#header-banner .banner-bg .image-4 {
    bottom: -55px;
    right: 15%;
    transform: translateX(-15%);
}
#header-banner .banner-bg .image-5 {
    bottom: 30%;
    right: 3%;
    transform: translateY(-30%);
}
/*--------------------------------------------------------------
# CARDS SECTION
--------------------------------------------------------------*/
.ml-auto {
    margin-left: auto;
}
#cards-section {
  position: relative;
}
#cards-section .mt-170 {
  margin-top: 170px;
}
#cards-section .mt-120 {
  margin-top: 80px;
}
#cards-section .mt--40 {
  margin-top: -70px;
}
#cards-section .mt-25 {
  margin-top: 25px;
}
#cards-section .row-flex {
    display: flex;
    align-items: flex-start;
}
.card-new-hover{
  border-radius: 2px;
  position: relative;
  transition: 0.8s ease-out;
  transform: scale(1);
  transition: 400ms;
}
.card-1{
	background-color: #392469;
}	
.card-2 {
  background-color: #970000;
}
.card-3 {
  background-color: #0c1889;
}
.card-4 {
  background-color: #d65559;
}
.card-5 {
  background-color: #3e8dd7;
}
#cards-section .card {
  background-color: transparent;
  border: none;
}
#cards-section .col-md-5:hover {
  transform: scale(1.03);
}
#cards-section .card .card-body {
  padding: 40px 40px 0 40px;
}
.card-title{
	font-weight:800;
	color:#fff;
}
#cards-section .card .card-text {
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.78);
}
#cards-section .card-1 .card img {
  padding: 25px 60px 0 60px;
}
#cards-section .card-2 .card img {
  padding: 50px 0px 60px 90px;
}
#cards-section .card-3 .card img {
  padding: 40px 0 60px 100px;
}
#cards-section .card-4 .card img {
  padding: 0px 78px 0px 75px;
}
#cards-section .card-5 .card img {
  padding: 30px 80px 0 80px;
}
#cards-section .card-new-hover:hover,#portfolio-card .hover-case-img:hover .card-1:hover {
  transform: scale(1.03);
  transition: 400ms;
}
#cards-section .card-new-hover:hover::after,#portfolio-card .hover-case-img:hover .card-1:hover::after {
  background: rgba(0, 0, 0, 0.85);
  height: 100%;
  width: 100%;
}
.h-500 {
  height: 500px;
}
#cards-section .card-new-hover:after{
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
}
#cards-section .card-1:after {
  left: 0;
  right: 0;
  height: 30%;
  background-image: linear-gradient(to bottom, rgba(58, 58, 58, 0) 0%, #7c59cb 100%);
}
#cards-section .card-2:after {
  right: 0;
  height: 100%;
  width: 30%;
  transform: rotate(360deg);
  background-image: linear-gradient(to right, rgba(255, 186, 85, 0) 0%, rgba(255, 136, 85, 0.49) 100%);
}
#cards-section .card-3:after {
  right: 0;
  height: 100%;
  width: 30%;
  transform: rotate(360deg);
  background-image: linear-gradient(to right, rgba(101, 141, 242, 0) 0%, rgba(28, 119, 255, 0.49) 100%);
}
#cards-section .card-4:after {
  left: 0;
  right: 0;
  height: 30%;
  background: linear-gradient(180deg, rgba(214, 85, 89, 0) 0%, #9a1418 100%);
}
#cards-section .card-5:after {
  left: 0;
  right: 0;
  height: 30%;
  background-image: linear-gradient(to bottom, rgba(62, 123, 215, 0) 0%, #0f57c2 100%);
}
#cards-section .card-new-hover:hover .card-ctc-hover .case-btn-new {
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
} 
#cards-section .card-new-hover:hover .card-ctc-hover .case-btn-new .btn1 {
  padding: 15px 40px;
  font-size: 14px;
  border-color: #fff;
  font-size: 14px;
  color: #fff;
  opacity: 1;
  height: 100%;
  font-weight: 600;
}
#cards-section .card-new-hover:hover .card-ctc-hover .case-btn-new .btn1:after {
  background: transparent;
}
#cards-section .card-ctc-hover, #cards-section .card-new-hover .card-anchor-none {
  display: none;
}
#cards-section .card-new-hover:hover .card-ctc-hover, #portfolio-card .hover-case-img:hover .card-1:hover::after {
  display: block;
  top: 0;
  width: 100%;
  position: absolute;
  z-index: 99;
  height: 100%;
  left: 0;
}
#cards-section .card-img-circle {
  position: absolute;
  top: -45px;
  right: -40px;
}
.card-shape{
	position:absolute;
	left:0;
	bottom:70px
}
/*--------------------------------------------------------------
# JOURNEY SECTION
--------------------------------------------------------------*/
#journey {
  background-color: #f3f1f5;
  margin-left: 20px;
  margin-right: 20px;
}
#journey .journey-header p{
	font-weight:500;
}
#journey .journey-body h4 {
    font-weight: 600;
}
#journey .journey-body p {
  color: #000;
  width: 83%;
}
#journey .journey-body ul {
    padding-left: 18px;
    list-style-type: none;
}
#journey .journey-body ul li {
    color: #000;
    padding: 3px 0;
    list-style-type: disc;
}
/*--------------------------------------------------------------
# GET TO KNOW US
--------------------------------------------------------------*/
#get-us-know {
  margin-top: 30px;
}
#get-us-know .row {
  align-items: center;
}
#get-us-know .row .get-us-image {
  padding-right: 30px;
}
#get-us-know .row .round-border {
  width: 250px;
  height: 197px;
  background: #f5f0fb;
  position: absolute;
  top: -40px;
  right: 0px;
  z-index: -1;
}
#get-us-know .row .get-us-text {
  padding: 18px 18px 5px 40px;
}
.slider {
  height: 75pt;
  margin: 0 auto !important;
  overflow: hidden;
  position: relative;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  touch-action: none;
  margin: 0 20px 70px;
}
.slider:before {
  left: 0;
  top: 0;
}
.slider:after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider .slide-track-1 {
  animation: scroll-l 30s linear infinite;
  display: flex;
  width: 3500px;
}
.slider .slide-track-2 {
  animation: scroll-r 10s linear infinite;
  display: flex;
  width: 3500px;
}
.slider .slide {
  height: 75pt;
  width: 210px;
  display: flex;
  align-items: center;
  text-align: center;
}
.slider .slide img {
  padding: 1pc;
  vertical-align: middle;
  margin: 0 auto;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
@keyframes scroll-l {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
@keyframes scroll-r {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials {
  background: #503d6a;
  padding: 90px 0;
  margin: 0 20px;
  position: relative;
}
.testimonials .swiper-pagination {
  position: static;
}
.testimonials .swiper-pagination-bullet {
  background: transparent;
  border: 1px solid #fff;
}
.testimonials .swiper-pagination-bullet-active {
  background: #fff;
}
.swiper-btn {
  position: absolute;
  right: 70px;
  top: 24px;
}
.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 45px 40px;
  margin: 0px 10px;
  box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
  background: #fff;
  max-height: 320px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.3s;
  margin-bottom: 20px;
}
.testimonials .swiper-slide {
  opacity: 1;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  font-size: 20px;
}
.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: 0%;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  margin-top: 0px;
  color: #fff;
  border: 1px solid #fff;
}
.swiper-button-next {
  right: -30px;
}
.swiper-button-prev {
  left: -60px;
}
.swiper-button-prev:hover,.swiper-button-next:hover {
  background: #fff;
  color: #503d6a;
}
.testimonials .section-header h4 {
  color: #fff;
  padding-bottom: 20px;
}
.testimonials .testimonial-item h3 {
  font-size: 15px;
  font-weight: 800;
  color: #5d4594;
}

.testimonials .testimonial-item h4 {
  font-size: 11px;
  font-weight: 500;
  color: #565656;
}
.testimonials .testimonial-item p {
  margin: 0 auto 15px auto;
  color: #313131;
  font-size: 14px;
  font-weight: 500;
}
/*--------------------------------------------------------------
# INDUSTRIES
--------------------------------------------------------------*/
#industries .industries-header p {
  font-weight: 500;
  padding-bottom: 20px;
}
#industries .industries-body {
  width: 90%;
  padding-top: 35px;
}
#industries .industries-header p {
  font-weight: 500;
  padding-bottom: 20px;
}
#industries .mt-35 {
    margin-top: 35px;
}
#industries .industries-body.ml-25 {
  margin-left: 10%;
}
/*--------------------------------------------------------------
# BLOG SECTION
--------------------------------------------------------------*/
.index-blog {
    height: 210px;
}
.square .square-ctc-hover {
    display: none;
}
.main-blog .square:hover .square-ctc-hover {
  height: 210px;
}
.square:hover .square-ctc-hover img {
  padding: 0;
  margin-left: 7px;
  margin-top: 5px;
  width: 17px;
  height: auto;
}
.square-ctc-align {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.square-ctc-align:hover {
  color: #fff;
}
@keyframes fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1;
  }
}
.square:hover .square-ctc-hover {
    display: block;
    top: 0;
    right: 11px;
    left: 11px;
    position: absolute;
    z-index: 99;
    font-size: 15px;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
}
#blog-section h5 {
  color: #1e1e1e;
  padding-top: 25px;
  font-weight: 800;
}
/*--------------------------------------------------------------
# FOOTER CTA
--------------------------------------------------------------*/
#footer-banner {
  background-image: linear-gradient(85deg, #392469 17%, #803983 85%), linear-gradient(to bottom, #131126, #131126);
}
#footer-banner .footer-bg .row {
  align-items: center;
}
#footer-banner .footer-bg .row .btn-flex {
  display: flex;
  align-items: center;
}
#footer-banner .footer-bg .row .btn-flex span {
  color: rgba(255, 255, 255, 0.44);
  padding: 0 20px;
  font-size: 15px;
  font-weight: 500;
}
#footer-banner .footer-bg h2,#footer-banner .footer-bg .btn1, .mobile-mobility-btn .btn1, #cs-design .box p {
  color: #fff;
  text-transform: none;
}
#footer-banner .footer-bg .fifth, .mobile-mobility-btn .fifth {
  border-color: #fff;
}
#footer-banner .footer-bg .fifth:after, .mobile-mobility-btn .fifth:after {
  background: #fff;
}
#footer-banner .footer-bg .fifth:hover, .mobile-mobility-btn .fifth:hover {
  color: #4719B2;
}
#footer-banner .footer-bg p {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  width: 77%;
}
/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
.new-footer a.footer-color {
  color: #4719B2;
}
.new-footer .link-hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 20%;
  height: 2px;
  background: #fff;
  transition: width 0.4s;
}
.new-footer .link-hover:hover::after {
  width: 100%;
  border-width: 0.1rem;
}
.new-footer .quick-link-header {
  font-weight: 700;
  font-size: 14px;
  color: #313131;
}
.new-footer .ready-header {
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.new-footer .footer-company-link {
  font-weight: 800;
  font-size: 12px;
  color: #4719B2;
  padding: 0 2px 2px 0;
  position: relative;
}
.new-footer .footer-company-link:hover::after {
  border-bottom: solid #4719B2;
}
.new-footer .list-inline-item a {
  margin: 10px 4px;
}
.new-footer .list-inline-item a:hover {
  opacity: 0.8;
}
.new-footer .list-inline-item .ml-0 {
  margin-left: 0;
}
.new-footer p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #313131;
  padding-right: 40px;
}
.w-130 {
  width: 130px;
}
.new-footer .new-quick-links li a { 
  font-weight: 500;
  font-size: 13px;
  color: #4719B2;
  position: relative;
  padding-bottom: 3px;
}
.new-footer .new-quick-links li a:hover{
  color: #b63362;
}
.new-footer .new-quick-links li a:hover::after {
  border-bottom: solid #b63362;
}
.new-footer .footer-mail-clicks:hover span::after {
  border-bottom: solid #4285f4;
}
.new-footer .single-cta {
  display: flex;
  align-items: center;
  position:relative;
}
.new-footer .single-cta .icon-align {
  display: flex;
  width: 40px;
}
.new-footer .single-cta .icon-align img {
  margin: auto;
}
.new-footer .mb-30 {
  margin-bottom: 30px;
}
.new-footer .single-cta-before::before {
  position: absolute;
  content: "";
  border-top: 1px solid #E3E3E3;
  width: 100%;
  clear: both;
  top: -15px;
}
.new-footer .cta-text {
  padding-left: 15px;
  display: inline-block;
}
.new-footer .cta-text h4 {
  font-weight: 800;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #212121;
  margin: 0;
}
.new-footer .cta-text span {
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #4285f4;
  position: relative;
  padding-bottom: 2px;
}
.new-footer .cta-text span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 20%;
  height: 2px;
  background: #fff;
  transition: width 0.4s;
}
/*--------------------------------------------------------------
# PORTFOLIO
--------------------------------------------------------------*/
.portfolio-banner .tag-line, .contact-header-banner .tag-line,#case-studies-banner .tag-line {
  text-transform: uppercase;
  color: #323232;
}
#header-banner.portfolio-banner .banner-bg .image-3 {
  top: 0px;
  left: 62%;
  transform: translateX(-62%);
}
.portfolio-card-text{
  max-width: 760px;
  margin: auto;
}
#portfolio-card .card-1 {
  margin-top: 45px;
  margin-bottom: 22px;
}
.portfolio-card-text .port-para {
  color: #000;
  margin-left: 150px;
}
.portfolio-card-text .tag-line{
  text-transform: uppercase;
  color: #4719B2;
  position: absolute;
  top: 5px;
}
#portfolio-card .portfolio-card-text .port-text2 {
  font-size: 14px;
}
#portfolio-card .card-port-bg img {
  height: 400px;
  width: auto;
}
#portfolio-card .card-1, #mobility-card.card-1 {
  align-items: center;
  margin-top: 45px;
  margin-bottom: 22px;
  border-radius: 2px;
  color: #000;
  padding: 50px 20px;
  padding-bottom: 0;
}
#portfolio-card .card-1:after,#mobility-card.card-1:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25%;
}
#portfolio-card .card-bg-1, #mobility-card.mobility-card-bottom {
  background: #392469;
}
#portfolio-card .card-bg-1:after, #mobility-card.mobility-card-bottom:after {
  background: linear-gradient(180deg, rgba(58, 58, 58, 0) 0%, #7C59CB 100%);
}
#portfolio-card .card-bg-2, #mobility-card.card-bg-2 {
  background: #FFD1C0;
}
#portfolio-card .card-bg-2:after, #mobility-card.card-bg-2:after {
  background-image: linear-gradient(180deg, rgba(255, 209, 192, 0) 0%, #CC9480 100%);
}
#portfolio-card .card-bg-3, #mobility-card.card-bg-3 {
  background: #0C1889;
}
#portfolio-card .card-bg-3:after, #mobility-card.card-bg-3:after {
  background: linear-gradient(180deg, rgba(173, 178, 222, 0) 0%, rgba(85, 96, 205, 0.4) 100%);
}
#portfolio-card .card-bg-4 {
  background: #D65559;
}
#portfolio-card .card-bg-4:after {
  background: linear-gradient(180deg, rgba(214, 85, 89, 0) 0%, #9A1418 100%);
}
#portfolio-card .card-bg-5 {
  background: #9F3900;
}
#portfolio-card .card-bg-5:after {
  background: linear-gradient(180deg, rgba(159, 57, 0, 0) 0%, #7B3108 100%);
}
#portfolio-card .card-bg-6 {
  background: #158CB1;
}
#portfolio-card .card-bg-6:after {
  background: linear-gradient(180deg, rgba(21, 140, 177, 0) 0%, #084B60 100%);
}
#portfolio-card .card-bg-7, #mobility-card.card-bg-7  {
  background: #970000;
}
#portfolio-card .card-bg-7:after, #mobility-card.card-bg-7:after  {
  background: linear-gradient(180deg, rgba(151, 0, 0, 0) 0%, #630000 100%);
}
#portfolio-card .card-bg-8 {
  background: #3E8DD7;
}
#portfolio-card .card-bg-8:after {
  background: linear-gradient(180deg, rgba(62, 141, 215, 0) 0%, #0C5FAC 100%);
}
#portfolio-card .card-bg-9 {
  background: #2C2C2C;
}
#portfolio-card .card-bg-9:after {
  background: linear-gradient(180deg, rgba(44, 44, 44, 0) 0%, #000000 100%);
}
#portfolio-card .card-bg-10 {
  background: #028080;
}
#portfolio-card .card-bg-10:after {
  background: linear-gradient(180deg, rgba(2, 128, 128, 0) 0%, #055B5B 100%);
}
#portfolio-card .card-bg-11 {
  background: #002940;
}
#portfolio-card .card-bg-11:after {
  background: linear-gradient(180deg, rgba(0, 41, 64, 0) 0%, #000E16 100%);
}
#mobility-card.mobility-card-bottom-1 {
  background: #0F894E;
}
#mobility-card.mobility-card-bottom-1:after {
  background: linear-gradient(180deg, rgba(0, 52, 27, 0) 0%, #004D28 100%);
}
#mobility-card.mobility-card-bottom-2 {
  background: #3D2400;
}
#mobility-card.mobility-card-bottom-2:after {
  background: linear-gradient(180deg, rgba(17, 10, 0, 0) 0%, #140C00 100%);
}
/*--------------------------------------------------------------
# ABOUT US
--------------------------------------------------------------*/
#about-evoke-tech h6, #timeline-service h6, #timeline-service h6 a{
  text-transform: uppercase;
  color: #5d4594;
}
/*--------------------------------------------------------------
# CONTACT US
--------------------------------------------------------------*/
#contact-cards form .form-columns-1,#contact-cards form .form-columns-2 {
    max-width: 100%;
}
#contact-cards form .hs-input {
  padding: 0.5rem 0.75rem;
  border: 1px solid #e6e9f2;
  background-color: #f6f8ff;
  width: 100%;
}
#contact-cards form .hs-input:focus {
  color: #495057;
  background-color: #fff;
  border-color: transparent;
  outline: 0;
  box-shadow: 0 0 0 1px #b63362;
}
#contact-cards form .hs-input::-webkit-outer-spin-button,
#contact-cards form .hs-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#contact-cards form .hs-input::-moz-placeholder,
#contact-cards form .hs-input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #AFAFAF;
}
#contact-cards form .actions {
  text-align: center;
  margin-top: 20px;
}
#contact-cards form .actions .hs-button {
  border-color: #4719B2;
  border-radius: 0;
  color: #4719B2;
  position: relative;
  z-index: 1;
  font-weight: 800;
  border: 1px solid;
  background-color: transparent;
  padding: 10px 30px;
}
#contact-cards form .actions .hs-button:hover {
  background-color: #4719B2;
  color: #fff;
}
/*--------------------------------------------------------------
# BLOG HOME
--------------------------------------------------------------*/
#blogs-cards .container-bg {
  background-image: url(../img/9-most-effective-code-review-tips-for-android-apps-blog.jpg);
  background-repeat: no-repeat;
  padding: 150px 30px 0 0;
}
.blog-card{
  position: relative;
  bottom: -40px;
}
#blogs-cards .container-bg .blog-banner-card {
  background-color: #F7F5F8;
  padding: 25px 25px 35px;
}
.blog-page .square:hover .square-ctc-hover{
  height: 290px;
}
.blog-img-height {
  height: 290px;
  object-fit: cover;
}
.date-tag{
    font-weight: 500;
    font-size: 12px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.78);
}
/*--------------------------------------------------------------
# BLOG SINGLE
--------------------------------------------------------------*/
.blog {
  padding: 20px 0 20px 0;
}
.breadcrumb-item{
  font-size: 14px;
}
.breadcrumb-item a {
  font-weight: 600;
  color: #212529;
}
.breadcrumb-item a:hover {
  color: #0d6efd;
}
.blog h1, .blog h2, .blog h3, .blog h4{
  font-weight: 600;
  color: #000000;
  margin-top: 30px;
}
.blog h2{
  font-size: 24px;
}
.blog h3{
  font-size: 20px;
}
.blog h4{
  font-size: 18px;
}
.blog .entry .entry-title {
  font-size: 26px;
  margin: 0 0 20px 0;
}
.blog .entry {
  padding: 30px 0;
}
.entry-img img {
  height: 450px;
  width: 100%;
}
.blog .entry .entry-content blockquote {
  overflow: hidden;
  background-color: #fafafa;
  padding: 40px;
  position: relative;
  text-align: center;
  margin: 20px 0;
}
.blog .entry .entry-content blockquote::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #4719B2;
  margin-top: 20px;
  margin-bottom: 20px;
}
.blog .entry .entry-content blockquote p {
  color: #444444;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.blog .blog-author img {
  width: 80px;
  margin-right: 20px;
}
.blog .blog-author p {
  font-style: italic;
  color: #323232;
  font-size: 13px;
}
.wp-block-syntaxhighlighter-code {
  background: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 0;
  font-family: Consolas, monospace;
  height: auto;
  margin: 0 0 20px;
  overflow-x: auto;
  padding: 20px;
}
/*--------------------------------------------------------------
# CASE STUDY SINGLE
--------------------------------------------------------------*/
.cs-banner {
  padding-top: 60px;
  width: 100%;
  overflow: hidden;
}
#cs-subtract .sub-margin {
  margin-top: -60px;
}
.cs-img-bg {
  position: absolute;
  top: 0;
  right: -60px;
  z-index: -2;
}
.cs-img-banner, .banner-13 img {
  height: 480px;
}
.cs-img{
  width: 95%;
}
.cs-banner .cs-banner-list ul,#cs-design .cs-design-list ul, .cs-trans-images ul, .cs-design-list-cricil ul, .user-personal ul{
  list-style: none;
  padding-left: 0;
}
.transalte-y {
  transform: translateY(-40px);
}
#cs-subtract .cs-sub-bg {
  background-image: url(../img/subtract.png);
  background-repeat: no-repeat;
  max-width: 1100px;
  margin: auto;
  background-position: top;
  background-size: contain;
  width: 95%;
}
#cs-subtract .sub-card {
  background: linear-gradient(144.58deg, #FFFFFF 8.88%, #B6C1DD 114.31%);
  box-shadow: 13px 13px 34px rgba(255, 255, 255, 0.49);
  border-radius: 39px;
  padding: 35px 30px;
  margin-top: -50px;
  margin-left: 20px;
}
#cs-design .cs-design-bg {
  position: absolute;
  top: -270px;
  z-index: -1;
  left: 0px;
  width: 515px;
}
#cs-design .cs-design-bg.top--30 {
  top:30px;
}
.cs-banner-2 .carousel-banner-caption {
  color: #000;
  text-align: left;
  width: 460px;
  padding: 25px;
  background: #fff;
}
.cs-banner-2 {
  height: 600px;
  padding: 40px 0;
  background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1;
    position: relative;
}
.cs-banner-bg-1{
  background-image: url(../img/cs-banner-2-bg.svg);
}
.cs-banner-bg-2 {
  background-image: url(../img/cs-matrimony-banner-layer.svg);
}
.cs-banner-bg-3 {
  background-image: url(../img/cs-kenny-banner-layer.svg);
}
.cs-banner-bg-4 {
  background-image: url(../img/cs-bms-banner-layer.svg);
}
.cs-banner-bg-5 {
  background-image: url(../img/cs-ebms-layer-bg.svg);
}
.cs-banner-bg-6 {
  background-image: url(../img/cs-pd-layer-bg.svg);
}
.cs-banner-bg-7 {
  background-image: url(../img/cs-rms-banner-layer.svg);
}
.cs-banner-bg-8 {
  background-image: url(../img/cs-pegusbanner-layer.svg);
}
.cs-banner-bg-9 {
  background-image: url(../img/cs-rodwell-layer-bg.svg);
}
.cs-banner-bg-10 {
  background-image: url(../img/cs-cvw-layer-bg.png);
}
.cs-banner-bg-11 {
  background-image: url(../img/cs-crisil-banner-layer.svg);
}
.cs-banner-bg-12 {
  background-image: url(../img/cs-banner-12-bg.svg);
} 
.cs-banner-bg-13 {
  background-image: url(../img/machiene-1.png);
}
.cs-banner-bg-14 {
  background-image: url(../img/cs-banner-bg-13.png);
}
.cs-design-bg-rodwell {
  background: #FFFBF3;
}
.cs-design-bg-rodwell-2 .col-md-4{
  padding: 25px;
}
.mobile-left-radius{
  border-bottom-left-radius: 25px 25px;
  border-top-left-radius: 25px 25px;
}
.mobile-right-radius{
  border-bottom-right-radius: 25px 25px;
  border-top-right-radius: 25px 25px;
}
.cs-design-bg-rodwell-2 .column-bg-1-rodwell {
  background: #006FBA;
}
.cs-design-bg-rodwell-2 .column-bg-2-rodwell {
  background: #E86C0E;
}
.cs-design-bg-rodwell-2 .column-bg-3-rodwell {
  background: #8C8C8C;
}
.cs-design-bg-rodwell-2 .column-bg-4-rodwell,.cs-design-bg-rodwell-2 .col-md-4.column-bg-4-rodwell h6,.cs-design-bg-rodwell-2 .col-md-4.column-bg-4-rodwell p {
  background: #EBF5FC;
  color: #686868 !important;
}
.cs-design-bg-rodwell-2 .column-bg-5-rodwell {
  background: #97999D;
}
.cs-design-bg-rodwell-2 .column-bg-6-rodwell {
  background: #B2B2B2;
}
.cs-design-bg-rodwell-2 h3 {
  color: #FF0000;
}
.takeaway-bg {
  background: linear-gradient(0deg, #F6F6F6 0%, #F6F6F6 100%), linear-gradient(180deg, #EC273F 0%, #FF6D1C 100%);
}
.cs-banner .rodwell {
  top: -270px;
  position: absolute;
  left: -190px;
}
#cs-design .cs-design-list ul li div {
    width: 140px;
    height: 60px;
    border-radius: 33px 3px;
    margin-right: 20px;
    margin-bottom: 5px;
}
#cs-design ul .orange {
  background: #C0561A;
}
#cs-design ul .merron {
  background: #007D98;
}
#cs-design ul .black {
  background: #151515;
}
#cs-design ul .grey {
  background: #F4F7FA;
}
#cs-design ul .light-pink {
  background: #F8F8F8;
}
.bg-0045A4 {
  background: #0045A4;
}
.bg-EFF6FF {
  background: #EFF6FF;
}
.bg-D40018 {
  background: #D40018;
}
.bg-139347 {
  background: #139347;
}
.bg-BBBBBB {
  background: #BBBBBB;
}
#cs-design-landing .cs-design-landing-circule {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
#cs-design-landing .cs-landing-bg {
  position: relative;
  margin-bottom: 80px;
}
#cs-design-landing .cs-landing-bg::after {
  background: linear-gradient(133.75deg, #FFF4F4 11.5%, #C9D8F1 97.36%);
  opacity: 0.3;
  border-radius: 40px;
  content: "";
  display: block;
  bottom: 0;
  position: absolute;
  z-index: -1;
}
#cs-design-landing .cs-landing-bg.cs-bg1::after{
  top: 0;
  left: -80px;
  right: 80px;
}
#cs-design-landing .cs-landing-bg.cs-bg2::after {
  top: 0;
  left: 80px;
  right: -60px;
}
#cs-design-landing .cs-landing-bg.cs-bg3::after {
  height: 450px;  
  top: 100px;
  left: -80px;
  right: 60px;
}
.rodwell-bg-banner {
  top: -220px;
  position: absolute;
  right: -130px;
}
.banner-ken{
  top:-50px
}
.banner-cricil {
  top:0;z-index: -1;
}
.banner-bms img{
  height: 350px;
}
.banner-bms{
  top:10px;
}
.banner-cricil img {
  height: 380px;
}
#cs-design .box,.cs-problem-statement .box {
  padding: 25px 20px;
  color: #fff;
  margin-bottom: 20px;
}
.box-bg-1-kenna {
  background-color: #4400D4;
}
.box-bg-2-kenna {
  background-color: #00747B;
}
.box-bg-3-kenna {
  background-color: #7101A6;
}
.box-bg-4-kenna {
  background-color: #2C3032;
}
.bg-cards-kenny{
  background-color: #C7DFFF;
    border-radius: 35px;
}
.cs-trans-images ul li{
  border-radius: 44px;
  background: #EF6230;
  color: #FFF;
  padding: 10px 20px;
  margin: 15px;
  display: inline-flex;
}
.cricil-green {
  color: #007D23;
}
#cs-design-landing .bg-cards-cricil {
  padding: 60px 20px 80px 20px;
  border-radius: 40px;
  background: linear-gradient(149deg, #FFF 0%, #FFEDE3 100%);
}
.cs-problem-statement h3 span {
  color: #CECFD9;
  font-size: 40px;
  font-weight: 700;
  padding-right: 10px;
}
.cs-design-list-cricil ul li div {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}
.cs-design-list-cricil .bg-FF8C63 {
  background: #FF8C63;
}
.cs-design-list-cricil .bg-4F3756 {
  background: #4F3756;
}
.cs-design-list-cricil .bg-65443E {
  background: #65443E;
}
.cs-design-list-cricil .bg-38383A {
  background: #38383A;
}
.cs-design-list-cricil .bg-ADADAD {
  background: #ADADAD;
}
.cs-design-list-cricil .bg-EBEBEB {
  background: #EBEBEB;
}
.cs-design-list-cricil .bg-D8002A {
  background: #D8002A;
}
.cs-design-list-cricil .bg-21AA47 {
  background: #21AA47;
}
.cs-design-list-cricil .bg-1C73FF {
  background: #1C73FF;
}
.cs-design-bg-sec {
  background: #F3EEFF;
}
.box-bg-1-bms {
  background: #0080E5;
  border-radius: 10px;
}
.box-bg-2-bms {
  border-radius: 10px;
  background: #BE2BBB;
}
.bg-BE2BBB {
  background: #BE2BBB;
}
.bg-74C264 {
  background: #74C264;
}
.bg-828B95 {
  background: #828B95;
}
.bg-E9F5FF {
  background: #E9F5FF;
}
#cs-design-landing .bg-cards-bms {
  background: linear-gradient(135deg, #BE2BBB 0%, #861D84 0.01%, #093B65 100%);
  color: #fff;
}
.cs-problem-statement .box-bg-1,.bg-DC4B6F {
  background: #DC4C70;
}
.cs-problem-statement .box-bg-2,.bg-4009B3 {
  background: #4009B3;
}
.cs-problem-statement .box-bg-3, .bg-960EBA {
  background: #960EBA;
}
.cs-problem-statement .box .box-para {
  font-size: 18px;
  font-style: italic;
  border-left: 3px solid #fff;
  padding-left: 10px;
  margin-top: 20px;
  font-family: 'Caveat', cursive;
}
#cs-design .box-bg-1 {
  background: #4E00F4;
}
#cs-design .box-bg-2 {
  background: #A600F4;
}
.bg-1BC9D6 {
  background: #1BC9D6;
}
.bg-52B69A {
  background: #EEEEEE;
}
#cs-design-landing .bg-cards {
  background: linear-gradient(180deg, #4009B3 0%, #0A0020 100%);
}
#cs-design-landing .bg-cards .transalte-y {
  transform: translateY(-30%);
}
.banner-cvw{
  top: 20px;
  right: -60px;
}
.group-cvw {
  position: absolute;
  top: -55px;
  right: -129px;
  z-index: -1;
}
.group-cvw-2 {
  position: absolute;
  top: -22px;
  left: -110px;
  transform: rotate(45deg);
}
.graphs-height img {
  height: 200px;
}
.cs-design-bg-rodwell-2 .column-bg-1-cvm {
  background: #37478C;
}
.cs-design-bg-rodwell-2 .column-bg-2-cvm {
  background: #5589C5;
}
.cs-design-bg-rodwell-2 .column-bg-3-cvm {
  background: #97CCE8;
}
.cs-design-bg-rodwell-2 .column-bg-4-cvm {
  background: #0303F5;
}
.cs-design-bg-rodwell-2 .column-bg-5-cvm {
  background: #828282;
}
.cs-design-bg-rodwell-2 .column-bg-6-cvm,.cs-design-bg-rodwell-2 .col-md-4.column-bg-6-cvm h6,.cs-design-bg-rodwell-2 .col-md-4.column-bg-6-cvm p {
  background: #F9F9F9;
  color: #808080 !important;
}
#cs-design-landing .bg-cards-cvm {
  background: #D3E3F1;
}
.bg-cards-cvm  .mt--180{
  margin-top: -180px;
}
.cs-design-bg-sec-embs {
  background: #0C0026;
  color: #fff;
}
.banner-embs{
  right: -60px;
}
.embs-box {
  border-radius: 6px;
  border: 1px solid rgba(154, 154, 154, 0.32);
  margin-bottom: 15px;
  padding: 15px;
}
.embs-box h6 {
  font-size: 16px;
  font-weight: 700;
}
.embs-box p {
  font-size: 12px;
  font-weight: 500;
}
.embs-typograpy-bg {
  background: #e9e8ef;
}
.embs-design-header {
  background: #fff;
  padding: 40px;
  border-radius: 20px;
}
#cs-design-landing .bg-cards-embs{
  background: #0C0026;
}
.pd-cs-branding-bg,.bg-grey-background,.embs-box {
  background: #f6f6f6 !important;
}
.bg-grey-background,#cs-design-landing .bg-cards-rms {
  padding: 20px 20px 80px !important;
}
.bg-001F5F {
  background: #001F5F;
}
.bg-alt-52B69A{
  background: #52B69A;
}
.bg-FFDD00 {
  background: #FFDD00;
}
.bg-FFFFFF {
  background: #FFFFFF;
}
.cs-design-bg-pegus {
  background: rgba(29, 99, 204, 0.16);
}
.box-bg-3-pegus {
  background: #09705D;
}
.box-bg-4-pegus {
  background: #5C0C84;
}
.banner-rms {
  top: 30px;
  right: -110px;
}
.banner-rms img {
  height: 300px;
}
.cs-design-bg-sec-rms,#cs-design-landing .bg-cards-rms {
  background: linear-gradient(135deg, #3C1053 0%, #453985 100%);
  color: #fff !important;
}
#cs-design-landing .bg-cards-pd {
  background: linear-gradient(135deg, #0F0C29 10.54%, #085472 50.62%, #24243E 93.36%);
  color: #fff;
}
.box-bg-1-rms {
  border-radius: 10px;
  background: #6A56D6;
}
.banner-13{
  top:0;
  right: 0;
  z-index: -1;
}
.cs-design-bg-new-sec {
  background-image: url(../img/cs-design-bg-new.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.box-bg-5-ivs {
  border-radius: 30px 0px 0px 0px;
  background: #0CA2B7;
}
.box-bg-6-ivs {
  border-radius: 0px 0px 0px 30px;
  background: #F34D7D;
}
.box-bg-7-ivs {
  border-radius: 0px 30px 0px 0px;
  background: #49B265;
}
.box-bg-8-ivs {
  border-radius: 0px 0px 30px 0px;
  background: #095F8B;
}
#cs-design-landing-bg-stream {
  background-image: url(../img/cs-design-landing-bg-stream.png);
  background-repeat: no-repeat;
}
.ipad-bg-banner{
  top: -90px;
  position: absolute;
  right: -130px;
}
.ipad-bg-banner img{
  height: 540px
}
.box-bg-1-pd {
  background: #2271ED;
}
.box-bg-2-pd {
  background: #A201BC;
}
.box-bg-3-pd {
  background: #D7251C;
}
.box-bg-4-pd {
  background: #0D832C;
}
.cs-design-bg-pd {
  background: rgba(42, 180, 110, 0.16);
}
.bg-00A4E4 {
  background: #00A4E4;
}
.bg-5E5D5E {
  background: #5E5D5E;
}
.bg-D70B0B {
  background: #D70B0B;
}
.banner-12{
  right: -200px;
}
.box-bg-1-ivs {
  background: #0577FD;
}
.box-bg-2-ivs {
  background: #FF8B00;
}
.box-bg-3-ivs {
  background: #0B9;
}
.box-bg-4-ivs {
  background: #664278;
}
#cs-design-landing-bg {
  background-image: url(../img/GN65.png);
  background-repeat: no-repeat;
}
.cx-banner{
  right: -230px;
}
.cx-banner img{
  height: 320px;
}
.box-bg-9-ivs {
  background: #00A9B8;
}
.box-bg-10-ivs {
  background: #EE6C4D;
}
.box-bg-11-ivs {
  background: #74B503;
}
.box-bg-12-ivs {
  background: #784242;
}
.user-personal-1 {
  background: linear-gradient(270deg, rgba(0, 169, 184, 0.04) 0%, rgba(255, 255, 255, 0.15) 100%);
  padding: 25px;
  text-align: right;
}
.user-personal-2 {
  padding: 25px;
  border-left: 1px solid #D8D8D8;
}
.user-personal-3 {
  text-align: right;
  padding: 25px;
  border-top: 1px solid #D8D8D8;
}
.user-personal-4 {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 190, 190, 0.15) 100%);
  padding: 25px;
  border-left: 1px solid #D8D8D8;
  border-top: 1px solid #D8D8D8;
}
#cs-design-landing .one-stake-bg{
  background: #eee;
    padding: 50px 20px;
    border: 1px solid rgba(216, 216, 216, 0.70);
}
/*--------------------------------------------------------------
# UX DESIGN
--------------------------------------------------------------*/
.mobile-straight-line{
  display: none;
}
.time-2-img {
  padding-left: 50px;
}
.timeline-img-first-row img {
  height: 112px;
  margin-bottom: 20px;
}
.time-arrow{  
  position: absolute;
  width: 25px;
  z-index: 22;
  top: -4px;
}
.timeline-arrow-round {
  left: -7px;
}
.timeline-arrow {
  right: 20%;
  transform: rotate(-90deg) !important;
}
.timeline-arrow-1 {
  right:-33px;
  top: 50%;
}
.top-service-img, .middle-service-img,.third-service-img {
  top: 0;
  position: absolute;
  right: 0;
  left: 0;
  width: 105%;
  height: 600px;
}
.middle-service-img {
  top: 31px;
  left: 21px;
  width: 75%;
  height: 530px;
}
.timeline-arrow-3 {
  top: 50%;
  left: 17px;
}
.img-timeline-text-bottom {
  position: absolute;
  right: 40%;
  bottom: -60px;
  text-transform: capitalize !important;
}
.service-img-text-bottom, .service-text-desk {
  text-transform: capitalize !important;
  margin-top: 20px;
}
#discover p, #design-link p, #develop p, .mobility-sub-headers p, #mobility-card p{
  padding-bottom: 20px;
}
#discover,#develop {
  padding-top: 80px;
}
.middle-col-timeline {
  padding-left: 80px;
  padding-top: 80px;
}
.third-service-img{
  width: 39%;
  position: absolute;
  height: 480px;
  top: 35px;
  right: -60px;
  left: auto;
}
.timeline-arrow-round-1 {
  top: auto;
  bottom: -90px;
  left: 68.2%;
}
.timeline-arrow-4 {
  top: 50%;
  left: auto;
  right: -58px;
}
#mobility-cards p, #mobility-card p{
  padding-top: 22px;
}
.mobility-sub-headers {
  padding-right: 70px;
}
#mobility-card{
  margin: 38px;
}
.inds-card-text span{
  text-transform: uppercase;
  font-weight: 800;
}
.inds-card-text p{
  padding-top: 7px !important;
}
.card-inds-bg img{
  width: 380px;
    height: auto;
    max-width: 100%;
}
.btn-black .btn1 {
  color: #000;
  text-transform: none;
}
.btn-black .fifth {
  border-color: #000;
}
.btn-black .fifth:after {
  background: #000;
}
.btn-black .fifth:hover,.cs-design-bg-rodwell-2 .col-md-4 h6,.cs-design-bg-rodwell-2 .col-md-4 p {
  color: #fff !important;
}
/*--------------------------------------------------------------
# MEDIAQUIRES
--------------------------------------------------------------*/
@media (max-width: 1199px) {
  .testimonials .swiper-slide-active {
    opacity: 1;
  }
  .testimonials .swiper-pagination {
    margin-top: 0;
  }
}
@media (max-width: 1045px) {
  #cards-section .sec-padding {
    padding-top: 0;
 }
 .tab-pt-40{
  padding-top: 50px !important;
 }
  #cards-section .card {
    height: 400px;
 }
}
@media (min-width: 950px){
	.container,.slider {
		max-width: 1000px;
	}
}
@media (min-width: 767px){
	#cards-section .col-md-6 {
		width: 41%;
	}
  .front-card{
    padding: 70px 0 !important;
  }
  .blog-width {
    width: 75%;
    margin: auto;
  }
  .dhide{
    display: none;
  }
  .ml-60 {
    margin-left: 60px;
}
.ml--60 {
  margin-left: -60px;
}
}
@media only screen and (min-width: 950px) and (max-width: 1045px) {
  .h-500 {
    height: 480px;
    overflow: hidden;
 }
}
@media (max-width: 950px) {
  .h-500 {
    height: 400px;
    overflow: hidden;
 }
}
@media (max-width: 991px) {
  .banner-title {
    font-size: 36px;
  }
  .stitle {
    font-size: 19px;
    width: 99%;
  }
  .title-tag {
    font-size: 14px;
  }
  .section-title{
    font-size:22px;
  }
  .md-hide,#cs-design-landing .cs-landing-bg::after {
    display: none !important;
  }
  #header-banner .banner-bg .image-3 {
    left: 40%;
    transform: translateX(-40%);
    width: 60px;
    top: -11px;
  }
  #header-banner .banner-bg .image-5 {
    bottom: 20%;
    right: 50%;
    transform: translate(-50%,-20%);
  }
  #cards-section .card-new-hover:hover .card-ctc-hover .over {
   display: -webkit-box;
   -webkit-line-clamp: 9;
   -webkit-box-orient: vertical;
   overflow: hidden;
   width: 100%;
	}
	  #cards-section .card-4 .card img {
		padding: 0px 58px 0px 62px;
	 }
	  #cards-section .animation-button {
		margin-top: 40px;
	 }
	 #cards-section .card .title-tag {
	   font-size: 14px;
	}
	#cards-section .card .card-body .card-text {
	  font-size: 12px;
  }
  #industries .industries-body {
    padding-top: 20px;
    width: 100%;
  }
  #industries .industries-body.ml-25 {
    margin-left: 0%;
  }
  #timeline-service{
    position: relative;
    padding-bottom: 70px;
  }
  #timeline-service .sec-padding, #case-studies-banner .sec-padding{
    padding: 0;
  }
  #timeline-service .mobile-straight-line {
    display: block !important;
    position: absolute;
    height: 100%;
    overflow: hidden;
  }
  #discover, #develop, .middle-col-timeline {
    padding-left: 60px;
    padding-top: 0;
  }
  #develop{
    padding-left: 45px;
  }
  .time-arrow{
    left: 7px;
    top: -5px;
  }
  .timeline-arrow-round-1 {
    top: auto !important;
    bottom: 0;
  }
  .mobility-sub-headers {
    padding-right: 0;
  }
  .cs-banner-2 {
    height: 400px;
  }
  .cs-banner-bg-9{
    height: 500px;
  }
  .cs-banner-2 .carousel-banner-caption {
    max-width: 85%;
    margin: auto;
  }
  #cs-design .cs-design-list ul li div {
    width: auto !important;
  }
  #cs-design .cs-design-list ul{
    display: block !important;
  }
  #cs-design .cs-design-list ul li {
    width: 49%;
    display: inline-block;
    margin: 10px 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1045px) {
  #footer-banner .footer-bg p {
    font-size: 20px;
    width: 100%;
    margin-bottom: 0;
  }
  #footer-banner .footer-bg h1 {
    width: 100%;
    font-size: 48px;
  }
}
@media (min-width: 768px) and (max-width: 950px) {
  #get-us-know .row .round-border {
    width: 200px;
    height: 97px;
    top: -30px;
    right: 10px;
  }
  #get-us-know .sec-padding {
    padding-top: 30px;
    padding-bottom: 50px;
}
}
@media (max-width: 767px) {
  .btn1 {
    padding: 13px 25px;
  }
	p,.btn1{
		font-size:14px;
	}
	.head-para{
		font-size:16px;
	}
	#journey .journey-body ul li{
		font-size:15px;
	}
	.mhide,.slide-md-none {
		display:none;
	}
  .graphs-height img {
    height: auto;
  }
	#cards-section .mt-170,	#cards-section .mt--40,	#cards-section .mt-120,#mobility-card .card-img-bottom, 
  .bg-grey-background img, .bg-cards-rms img, .bg-cards-pd img {
		margin-top: 40px;
	}
	#cards-section .card .mb-flex-center, #mobility-card .mobile-mobility-btn{
		display: flex;
		align-items: flex-end;
		justify-content: center;
	  }
  #cards-section .card  .mb-flex-center img {
    padding: 0;
    width: 230px;
  }
  #cards-section .card .mb-flex-end {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 90vh;
  }
  #cards-section  .card .mb-flex-end img {
    width: 300px;
    object-fit: cover;
    padding: 0;
  }
	#cards-section .row-flex {
		display: block;
	}
	#get-us-know .row .get-us-text {
    padding: 18px 18px 5px 0px;
  }
   #get-us-know .row .get-us-image {
    padding-right: 0px;
  }
  .slider {
    height: auto;
    -webkit-user-select: auto;
       -moz-user-select: auto;
            user-select: auto;
    touch-action: auto;
  }
  .slider .slide img {
    max-width: 90%;
    padding: 5px;
  }
   .slider .slide {
    width: 33.3%;
    display: flex;
    align-items: center;
    float: left;
    text-align: center;
    flex-direction: row;
  }
  .slider .slide-track-1 {
    animation: auto;
    display: block;
    width: auto;
  }
  .testimonials .testimonial-item {
    margin-top: 35px;
    padding: 30px 20px;
  }
  #industries .industries-header h4 {
    width: 85%;
  }
  .mwidth{
    max-width: 98%;
  }
  #industries .industries-header p, .mobile-pb-0 {
    padding-bottom: 0;
  }
  .main-blog h5 {
	      font-size: 16px;
      margin-bottom: 20px;
  }
  #portfolio-card .card-port-bg img,.mobile-w-100 {
    height: auto;
    width: 100%;
  }
  .portfolio-card-text .tag-line {
    position: relative;
    top: 0;
  }
  .portfolio-card-text .port-para {
    margin-left: 0;
  }
  #header-banner.portfolio-banner .banner-bg .image-5 {
    bottom: 40%;
    right: 15%;
    transform: translate(-15%,-40%);
  }
  .mobile-mt-30 {
    margin-top: 0 !important;
  }
  #footer-banner .footer-bg .row .btn-flex {
    justify-content: center;
  }
  #footer-banner .footer-bg h2 {
    width: 100%;
    font-size: 46px;
    text-align: center;
  }
  #footer-banner .footer-bg p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
    width: 100%;
  }
  .new-footer .links-block-mbl {
    width: 89%;
    text-align: center;
    margin: auto;
    margin-top: 10px;
  }
  .new-footer .pt-3,#cs-subtract,.mobile-pt0 {
    padding-top: 0px !important;
  }
  .new-footer p {
    padding-right: 0px;
  } 
  .new-footer .py-4 {
    padding-bottom: 0 !important;
  }  
  .blog-img-height,.square:hover .square-ctc-hover  {
    height: 240px !important;
  }
  #blogs-cards .container-bg {
    padding: 150px 25px 0;
    margin-bottom: 60px;
  }
  .blog-card{
    bottom: -120px;
  }
  #cs-subtract .sub-card {
    border-radius: 5px;
    margin-top: 0px;
    margin-left: 0px;
  }
  .row-col-sm-reverse {
    flex-direction: column-reverse;
  }
  #cs-subtract .cs-sub-bg {
    background-image: none;
  }
  .mobile-pt-30, .mobile-mt-30,.bg-grey-background h3, .bg-cards-rms h3, .bg-cards-pd h3{
    padding-top: 30px !important;
  }
  .transalte-y,#cs-design-landing .bg-cards .transalte-y {
    transform: translateY(0px);
  }
  .mobile-left-radius,.mobile-right-radius, .bg-cards-bms, #cs-design-landing .bg-cards, .cs-design-bg-new-sec .mobile-radius, .bg-cards-pd, .one-stake-bg{
    border-radius: 0 !important;
  }
  .user-personal .col-md-6 {
    text-align: left;
    border:1px solid #efefef;
  }
}